####### Latex ####### 
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.lox
*.lox.orig
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.orig
*.txss
*.tks
*.pdf
*.gz